body {
  background-color:transparent;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  text-transform: uppercase; /* Make the title uppercase */
  color: #fff; /* Title color */
  margin: 0; /* Remove default margin */
}

.small-time {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px; 
  color: #fff; 
  font-family: Arial, sans-serif; 
  z-index: 2; 
}

.container {
  max-width: 400px;
  margin: 50px auto; 
  padding: 20px;
  position: relative;
  
  z-index: 1; 
}


#search-bar {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #fffcfc;
  background-color: transparent;
  color: #ffffff;
  border-radius: 0;
  outline: none;
  margin-top: 20px; 
}


.taskbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gadget {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s, transform 0.1s;
}

.gadget:hover {
  background-color: rgba(255, 255, 255, 0.129);
  transform: scale(1.1);
}

.gadget img {
  z-index: 9999;
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
}

.background-changer {
  width: 40px; 
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  overflow: hidden; 
  position: relative; 
  transition: background-color 0.3s, transform 0.1s;
}


.background-changer:hover {
  background-color: rgba(255, 255, 255, 0.129);
  transform: scale(1.1);
}

.background-changer img {
  width: 100%; 
  height: 30px;
  opacity: 1; 
  transition: opacity 0.9s ease-in-out; 
  object-fit: contain;
  border-radius: 50%;
}

.background-changer:hover img {
  opacity: 1; 
}

body {
  background-image: url('resources/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.burghy {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s;
}

.burghy:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.burghy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.burghy .dropdown-content {
  display: none;
  position: absolute;
  margin-left: 120px;
  margin-top: 300px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 10px; 
  border-radius: 5px; 
}

.burghy .dropdown-content a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 8px 0;
  transition: background-color 0.3s;
}

.burghy .dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.control {
  margin: 50px auto;
  width: 300px;
}
.control-title {

  display: block;
  margin: 0 0 5px;
  font-size: 0.6em;
  letter-spacing: 0.25em;
}
.control.clearfix {
  display: none;
}

.control-session,
.control-break {
  margin-bottom: -10%;
  padding: 5px 10px;
  width: 140px;
  color: #3e4348;
  color: rgb(234, 234, 234);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.control-session {
  float: left;
}

.control-break {
  float: right;
}

.pomodoro {
  position: relative;
  margin: auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  color: #3e4348;
  text-align: center;
  display: none; 
}

.taskbar .clock-gadget {
  cursor: pointer;
}

.taskbar .clock-gadget:hover {
  background-color: rgba(255, 255, 255, 0.129);
  transform: scale(1.1);
}

.status {
  position: absolute;
  top: 80px;
  width: 100%;
  color: #3e4348;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.timer {
  padding-top: 110px;
  font-size: 4em;
}

.button {
  margin: 15px 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #fff;
  color: #3e4348;
  line-height: 36px;
  cursor: pointer;
}
.button:hover {
  background: #3e4348;
  color: #fff;
}
.button:focus {
  outline: none;
}
.session {
  border: 10px solid #ff7473;
  background: #ff7473;
  color: #fff;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}
.break {
  background: #e3dede;
  border: 10px solid #fff;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}
@keyframes glow {
  from {
      -webkit-box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
      -moz-box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
      box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
  }
  to {
      -webkit-box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
      -moz-box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
      box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
  }
}
footer {
  margin: 30px;
  color: #3e4348;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
        iframe {
            width: 1000px;
            height: 500px; 
        }
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*-------------------------------todo------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  }

.todo-app{
  font-family: serif;
  position: absolute;
  z-index: 1;
  top:100px;
  left:500px;
  width: 100%;
  max-width: 340px;
  background: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
  color: #555;
}

.todo-app h1{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #555;
}
.header h1 img{
  width: 40px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e7e9;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex:1;
  border: none;
  outline: none;
  background: transparent;
  height:40px
}
button{
  border: none;
  outline: none;
  font-size: 16px;
  background: #ff5945;
  padding:16px 50px;
  cursor: pointer;
  border-radius: 40px;
}
#listContainer li{
  list-style: none;
  font-size: 18px;
  padding:10px 8px 10px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  text-align: left;
  text-wrap:wrap;
  word-wrap: break-word;
}
#listContainer li::before{ 
  content: '';
  position: absolute;
  height:25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(resources/grey.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 12px;
}
#listContainer  li.checked{
  color: #555;
  text-decoration: line-through;
}
#listContainer  li.checked::before{
  background-image: url(resources/purple.png);
}
#listContainer  li span{
  position: absolute;
  right:-20px;
  top:5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center
}
#listContainer  li span:hover{
  background: #edeef0;
}

/*-------------------------------todo end------------------------------*/

/*-------------------------------weather ---------------------------------------------------------------------------*/

.wContainer{
  font-family: serif;
  position: absolute;
  top:-10px;
  left:560px;
  width: 100%;
  max-width: 250px;
  max-height: 130px;
  padding: 3px 40px 5px;
  border-radius: 10px;
  color: #fff;
  border:#fff 1px solid;
}

.wContainer h1{
  align-items: center;
  margin-bottom: 20px;
}
.header h1 img{
  width: 40px;
  margin-left: 10px;
}
.data_container #location{
  font-size: 22px;
  text-align: center;
}
.data_container .date{
  font-size: 10px;
  text-align: center;
}

.current_weather_items{
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 10px;
}
.current_weather_items .weather_items{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.current_weather_items .weather_items p{
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: -5px;
}
#temperature{
  font-size: 18px;
}
#weather{
  font-size: 18px;
}