*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: serif;
  background-color:#fff;
}

.wContainer{
  font-family: serif;
  position: absolute;
  top:50px;
  left:1150px;
  width: 100%;
  max-width: 200px;
  max-height: 130px;
  background-color:#013D57;
  padding: 3px 40px 5px;
  border-radius: 10px;
  color: #fff;
}

.wContainer h1{
  align-items: center;
  margin-bottom: 20px;
}
.header h1 img{
  width: 40px;
  margin-left: 10px;
}
.data_container .location{
  font-size: 22px;
  text-align: center;
}
.data_container .date{
  font-size: 10px;
  text-align: center;
}
.data_container .time{
  font-size: 15px;
  text-align: center;
}
.data_container #am-pm{
  font-size: 15px;
}
.current_weather_items{
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 10px;
}
.current_weather_items .weather_items{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.current_weather_items .weather_items p{
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: -5px;
}