*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg,#555,#594);
  padding: 10px;
  }

.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h1{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.header h1 img{
  width: 40px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e7e9;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex:1;
  border: none;
  outline: none;
  background: transparent;
  height:40px
}
button{
  border: none;
  outline: none;
  font-size: 16px;
  background: #ff5945;
  padding:16px 50px;
  cursor: pointer;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 18px;
  padding:10px 8px 10px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{ 
  content: '';
  position: absolute;
  height:25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(resource/grey.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 12px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(resource/purple.png);
}

ul li span{
  position: absolute;
  right:0px;
  top:5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover{
  background: #edeef0;
}

/*

#removeToDo{
  height: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 20px;
  justify-content: center;
}

.to-dos{
  margin-top: 25px;
}

.paragraph-styling{
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}
*/